<% include layout/header.ejs %>

    <div class="card bg-dark text-dark">
        <img src="public/img/back.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">our CONTACTS</h5>
            <p class="card-text">find us there ewerywhere</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>

    <% include layout/footer.ejs %>