<footer class="footer">
    <div class="container">

        <img src="public/img/logo.png" href="#">
        <p>
            @Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>

    </div>
    </div>
</footer>

<script src="public/javascripts/scripst.js"></script>
<script src="javascrips/jquery.min.js"></script>


</body>

</html>